{% load static %}

<header>
    <span>
        <ul class="login">
            <li><a href="#">Cadastrar</a></li>
            <li><a href="#">Entrar</a></li>
        </ul>
    </span>

    <h1>As Melhores Receitas em Apenas um Lugar</h1>
    <nav>
        <ul class="menu">
            <li><a href="{% url 'blog-home' %}">Início</a></li>
            <li><a href="{% url 'categorias' %}">Categorias</a></li>
            <li><a href="{% url 'sobre' %}">Sobre</a></li>
            <li><a href="{% url 'contato' %}">Contato</a></li>
        </ul>
    </nav>
</header>