{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container">
        <section class="recipe-cards">
            <article>
                <img src="https://unsplash.it/640/425?random?1" alt="Recipe Image">
                <h2>Recipe Title</h2>
                <p>Recipe description goes here.</p>
                <a href="#">Read More</a>
            </article>
            <article>
                <img src="https://unsplash.it/640/425?random?2" alt="Recipe Image">
                <h2>Recipe Title</h2>
                <p>Recipe description goes here.</p>
                <a href="#">Read More</a>
            </article>
            <article>
                <img src="https://unsplash.it/640/425?random?3" alt="Recipe Image">
                <h2>Recipe Title</h2>
                <p>Recipe description goes dhere.</p>
                <a href="#">Read More</a>
            </article>
            <article>
                <img src="https://unsplash.it/640/425?random?4" alt="Recipe Image">
                <h2>Recipe Title</h2>
                <p>Recipe description goes here.</p>
                <a href="#">Read More</a>
            </article>
        </section>
    </div>
</main>
{% endblock %}