{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container">
        {% for post in posts %}
        <section class="recipe-cards">
            <article>
                <img src="{{ post.image.url }}" alt="{{ post.description }}">
                <h2>{{ post.title }}</h2>
                <p>{{ post.description }}</p>
                <a href="receita/{{ post.id}}">Read More</a>
            </article>
        </section>
        {% endfor %}
    </div>
</main>
{% endblock %}