{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <main>
        <section class="recipe-cards">
            <article>
                <img src="https://unsplash.it/640/425?recipe?1" alt="Recipe Image">
                <h2>Recipe Title</h2>
                <p>Recipe description goes here.</p>
                <a href="#">Read More</a>
            </article>
            <article>
                <img src="https://unsplash.it/640/425?random?2" alt="Recipe Image">
                <h2>Recipe Title</h2>
                <p>Recipe description goes here.</p>
                <a href="#">Read More</a>
            </article>
            <article>
                <img src="https://unsplash.it/640/425?random?3" alt="Recipe Image">
                <h2>Recipe Title</h2>
                <p>Recipe description goes here.</p>
                <a href="#">Read More</a>
            </article>
            <article>
                <img src="https://unsplash.it/640/425?random?4" alt="Recipe Image">
                <h2>Recipe Title</h2>
                <p>Recipe description goes here.</p>
                <a href="#">Read More</a>
            </article>
            <article>
                <img src="https://unsplash.it/640/425?random?5" alt="Recipe Image">
                <h2>Recipe Title</h2>
                <p>Recipe description goes here.</p>
                <a href="#">Read More</a>
            </article>
            <article>
                <img src="https://unsplash.it/640/425?random?6" alt="Recipe Image">
                <h2>Recipe Title</h2>
                <p>Recipe description goes here.</p>
                <a href="#">Read More</a>
            </article>
        </section>
    </main>
</div>
{% endblock %}