@import url('reset.css');
@import url('header.css');

body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* Header styles */
header {
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    padding: 32px;
    text-align: center;
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

header nav li {
    margin-right: 20px;
}

header nav a {
    font-size: 20px;
    font-weight: bold;
}

.login {
    padding: 0 250px 0 250px;
    display: flex;
    justify-content: right;
    font-size: 20px;
}

.login li {
    padding: 10px;
}


.menu li a:hover, .login li a:hover {
    color: rgb(107, 105, 105);
}

.container {
    padding: 0 250px 0 250px;
}

/* Recipe card styles */
.recipe-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.recipe-cards article {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.recipe-cards article:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.recipe-cards article img {
    display: block;
}

.recipe-cards article h2 {
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
}

.recipe-cards article p {
    margin: 10px;
    font-size: 16px;
}

.recipe-cards article a {
    display: block;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

footer {
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 14px;
}